#!/bin/sh

#
# Run the hook command.
# Note: this will be replaced by the real command during copy.
#

# Fetch the GIT diff and format it as command input:
DIFF=$(git diff -r -p -m -M --full-index --staged | cat)

# Run GrumPHP
#If using local instalation of PHP
#(cd "./" && printf "%s\n" "${DIFF}" | exec 'vendor/phpro/grumphp/bin/grumphp' 'git:pre-commit' '--skip-success-output')

#If running docker image for PHP and project folder in /var/www/html
(cd "./" && printf "%s\n" "${DIFF}" | docker exec -i `docker-compose ps -q php` bash -c "cd /var/www/html && ./vendor/bin/grumphp git:pre-commit --ansi --skip-success-output")

